table{
    margin-top: 5px;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    vertical-align: top;
    text-align: left;
    padding:5px;
    padding-left: 10px;
}
tr{
    height: 20px;
}
.tallRow{
    height: 200px;
}
.closingBalance{
    color: red;
}
.firstColumn,.fourthColumn{
    width: 100px;
}
.secondColumn,.fifthColumn{
    width: 350px;
}
.thirdColumn,.sixthColumn{
    width: 150px;
}
@media print{
    table{
        page-break-inside: avoid;
    }
}